services:
  npm:
    image: 'jc21/nginx-proxy-manager:latest'
    container_name: nginx-proxy-manager
    restart: unless-stopped
    ports:
      - '80:80'
      - '443:443'
      - '81:81'
    environment:
      - DISABLE_IPV6=true
    volumes:
      - ./volumes/npm_data:/data
      - ./volumes/npm_letsencrypt:/etc/letsencrypt

  wg-easy:
    image: ghcr.io/wg-easy/wg-easy
    container_name: wg-easy
    environment:
      - WG_HOST=${WG_HOST}
      - PASSWORD_HASH=${WG_PASSWORD_HASH}
      - WG_PORT=51820
      - WG_DEFAULT_ADDRESS=10.8.0.x
      - WG_DEFAULT_DNS=1.1.1.1
      - WG_ALLOWED_IPS=0.0.0.0/0
    volumes:
      - ./volumes/wg_config:/etc/wireguard
    ports:
      - "51820:51820/udp"
    expose:
      - "51821"
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    sysctls:
      - net.ipv4.ip_forward=1
      - net.ipv4.conf.all.src_valid_mark=1

  glances:
      image: nicolargo/glances:latest-full
      container_name: glances
      restart: unless-stopped
      pid: host
      volumes:
        - /var/run/docker.sock:/var/run/docker.sock:ro
      environment:
        - GLANCES_OPT=-w
      expose:
        - "61208"

  landing:
    image: nginx:alpine
    container_name: landing
    restart: unless-stopped
    volumes:
      - ./volumes/landing:/usr/share/nginx/html:ro
    expose:
      - "80"